<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}MyBlog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    


</head>
<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar">
            <span class="'icon-bar"></span>
            <span class="'icon-bar"></span>
            <span class="'icon-bar"></span>
        </button>
        <a href="{% url 'blog:all_blog' %}" class="navbar-brand"> MyBlog</a>
    </div>
        <div class="collapse navbar-collapse" id="topbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'blog:all_blog' %}">
                        <span class="glyphicon glyphicon-" aria-hidden="true">
                            All-Blog
                        </span>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                {%block form_search%}
                
                {%endblock%}
            </form>

             <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'blog:add_blog' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"> Add-Blog</span>
                    </a>
                </li>
                
            </ul>

        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=403950513296531';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>